{% extends 'base.html' %}


 {% block content %} 
 {% if messages %}
  
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
{% endif %}
          <h2>LATEST MOVIES</h2>
          <p class="text-right"><a href="#">See all</a></p>
        
        {% for movie in movies %}

        <div class="movie">
          <div class="movie-image"> <a href="movie/{{movie.id}}"><span class="play"><span class="name">{{movie.title }}</span></span> <img src="{{ movie.image.url }}" alt="" /></a> </div>
          <div class="rating">
            <p style="color:red">RATING {{movie.average_rating}}</p>
            
            <span class="comments">{{ movie.comments.count }}</span> </div>
        </div>
       {% endfor %}

      
        
{% endblock %}       
        
